.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
.npmrc
*.vsix
*.py
user-setting.jsonc
.antigravitycli/**
DESIGN.md
design.md
AGENTS.md
agents.md
vs-code-setting.jsonc
scripts/**
.claude/**
